---
---

body
  padding-top: 70px         // navbar
  color: #5a5a5a            // lighter body text
  background-color: #f8f8fa // slight blue tint of white

h2
  font-weight: 200
  letter-spacing: 1px
  line-height: 1
  margin-top: 10px
  margin-bottom: 20px
  @media (min-width: 768px)
    margin-bottom: 30px
    font-size: 40px

h3
  margin-top: 40px
  margin-bottom: 20px
  font-weight: bold
  @media (min-width: 768px)
    margin-bottom: 20px

h4
  margin-top: 30px
  margin-bottom: 20px
  font-weight: bold
  @media (min-width: 768px)
    margin-bottom: 20px

pre, code
  border: none
  border-radius: 0
  background-color: rgba(128, 128, 128, 0.1)
  font-size: 0.85em

#content p
  line-height: 2em
  letter-spacing: .03em

#navigation .nav-list
  li a
    padding: 3px 10px
  .nav-header
    font-weight: bold
    line-height: 20px
    color: #999999
    &, & a
      padding: 3px 0
  li+.nav-header
    margin-top: 9px

#content
  font-size: 115%

#footer
  margin: 20px 0

img
  &.embeddable
    display: block
    max-width: 100%
    margin: 1em auto
    border: 1px solid #ccc
    border-radius: 4px
    padding: 0.7em
    background-color: #fafaf6
    -webkit-box-shadow: 2px 2px 3px #ccc
    -moz-box-shadow: 2px 2px 3px #ccc
    box-shadow: 2px 2px 3px #ccc

  &.width-720
    max-width: 720px

div.extra-bottom-margin
  margin-bottom: 50px

#environment
  display: none

//===

iframe
  &.movie
    height: 450px
    width: 720px
    margin-top: 30px
    margin-bottom: 30px

.center
  margin: 0 auto
  text-align: center

.navbar-cnpaas
  background-color: desaturate(darken(#31b0d5, 35%), 50%)
  border-color: desaturate(darken(#31b0d5, 15%), 50%)
  border-width: 0 0 5px

  .navbar-brand
    color: #f8f8fa
    font-size: 28px
    font-weight: 100
    letter-spacing: 2px

    // Replace text by background image
    text-indent: -5000px
    width: 139px
    height: 50px
    background-image: url("{{site.url}}/images/cnpaas-logo.png")
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 109px 24px

.page-header
  margin-top: 0

.user-login-true-controls
  &, .user-login &
    display: none
  .user-login-false &
    display: none
  .user-login-true &
    display: initial
  .user-login-loading &
    display: none

.user-login-false-controls
  &, .user-login &
    display: none
  .user-login-false &
    display: initial
  .user-login-true &
    display: none
  .user-login-loading &
    display: none

.user-login-loading-controls
  &, .user-login &
    display: none
  .user-login-false &
    display: none
  .user-login-true &
    display: none
  .user-login-loading &
    display: initial

.glyphicon-spin
  -webkit-animation: spin 1500ms infinite linear
  animation: spin 1500ms infinite linear
@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)
@keyframes spin
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotabte(359deg)
    transform: rotate(359deg)

.margin-left
  margin-left: 10px
.margin-right
  margin-right: 10px
.margin-top
  margin-top: 10px
.margin-bottom
  margin-bottom: 10px

.bg-info
  background-color: #fcf8e3
  padding: 15px
  color: #666
  margin-bottom: 20px
  line-height: 1.6em
  letter-spacing: 0.03em

  &:after, &:before
    box-sizing: border-box

  ul > li
    line-height: 1.6em
    letter-spacing: 0.03em
