---
---

body
  font-size: 110%

p
  line-height: 2em
  letter-spacing: .03em

#navigation .nav-list
  .nav-header
    font-size: 1em
  a
    font-size: 0.9em

img.embeddable
  display: block
  margin: 1em auto
  border: 1px solid #ccc
  border-radius: 4px
  padding: 0.7em
  background-color: #fafaf6
  -webkit-box-shadow: 2px 2px 3px #ccc
  -moz-box-shadow: 2px 2px 3px #ccc
  box-shadow: 2px 2px 3px #ccc

div.extra-bottom-margin
  margin-bottom: 50px
