<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon.ico" type="image/ico" />
<link sizes="16x16 32x32 64x64" href="{{ site.baseurl }}/images/favicon/favicon.ico" rel="icon" type="image/ico" />
<link sizes="196x196" href="{{ site.baseurl }}/images/favicon/favicon-196.png" rel="icon" type="image/png" />
<link sizes="160x160" href="{{ site.baseurl }}/images/favicon/favicon-160.png" rel="icon" type="image/png" />
<link sizes="96x96" href="{{ site.baseurl }}/images/favicon/favicon-96.png" rel="icon" type="image/png" />
<link sizes="64x64" href="{{ site.baseurl }}/images/favicon/favicon-64.png" rel="icon" type="image/png" />
<link sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32.png" rel="icon" type="image/png" />
<link sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16.png" rel="icon" type="image/png" />
<link sizes="152x152" rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-152.png" type="image/png" />
<link sizes="144x144" rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-144.png" type="image/png" />
<link sizes="120x120" rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-120.png" type="image/png" />
<link sizes="114x114" rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-114.png" type="image/png" />
<link sizes="76x76" rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-76.png" type="image/png" />
<link sizes="72x72" rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-72.png" type="image/png" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon/favicon-57.png" type="image/png" />
<meta content="#FFFFFF" name="msapplication-TileColor" />
<meta content="{{ site.baseurl }}/images/favicon/favicon-144.png" name="msapplication-TileImage" />
<meta content="{{ site.baseurl }}/images/favicon/browserconfig.xml" name="msapplication-config" />
