<div class="navbar navbar-inverse navbar-fixed-top navbar-cnpaas" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">切换导览</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site._env.doc_url }}">
        {{ site.title }}
        {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right user-login">
        <!--
        <li><a href="{{ site._env.www_url }}/#features">重点功能</a></li>
        <li><a href="{{ site._env.www_url }}/pricing">价格</a></li>
        <li class="active"><a href="{{ site._env.doc_url }}">文档</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown">
            <span>关于我们</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" data-role="menu" aria-labelledBy="dLabel">
            <li><a href="{{ site._env.www_url }}/vision">公司愿景</a></li>
            <li><a href="{{ site._env.www_url }}/team">团队介绍</a></li>
            <li><a href="/">团队博客</a></li>
            <li><a href="{{ site._env.www_url }}/contact-us">联系我們</a></li>
          </ul>
        </li>
        -->

        <li class="user-login-loading-controls"><p class="navbar-text"><span class="glyphicon glyphicon-refresh glyphicon-spin"/></p></li>
        <li class="user-login-false-controls"><a href="{{ site._env.dashboard_url }}/accounts/sign_in">登入</a></li>
        <!--
        <li class="user-login-false-controls">
            <div><a href="{{ site._env.dashboard_url }}/accounts/sign_up" class="btn btn-info navbar-btn margin-left">注册</a></div>
        </li>
        -->

        <li class="dropdown user-login-true-controls">
          <a href="#" data-toggle="dropdown">
            <span class="user-login-user_slug"> username</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" area-labelledBy="dLabel">
            <li><a href="{{ site._env.dashboard_url }}/a">应用总滙</a></li>
            <li><a href="{{ site._env.dashboard_url }}/accounts/edit">帐号设置</a></li>
            <li class="divider"></li>
            <li><a href="{{ site._env.dashboard_url }}/accounts/sign_out" data-method="delete">用户登出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
