<div class="navbar navbar-inverse navbar-fixed-top navbar-cnpaas" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="{{ site.baseurl }}">
        {{ site.title }}
        {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
      </a>

      <div class="navbar-collapse">
        <ul class="nav pull-right user-login">
          <li><a href="http://www.cnpaas.io/#features">重点功能</a></li>
          <li><a href="http://www.cnpaas.io/pricing">价格</a></li>
          <li><a href="http://www.cnpaas.io/contact-us">联系</a></li>
          <li class="active"><a href="http://doc.cnpaas.io">文档</a></li>
          <li><a href="http://blog.cnpaas.io">博客</a></li>

          <li class="user-login-false-controls"><a href="http://dashboard.cnpaas.io/accounts/sign_in">登入</a></li>
          <li class="user-login-false-controls">
            <div><a href="http://dashboard.cnpaas.io/accounts/sign_up" class="btn btn-info navbar-btn">注册</a></div>
          </li>

          <li class="dropdown user-login-true-controls">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="user-login-user_slug"> username</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" area-labelledBy="dLabel">
              <li><a href="http://dashboard.cnpaas.io/apps">应用总滙</a></li>
              <li><a href="http://dashboard.cnpaas.io/accounts/edit">帐号设置</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
